@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@400;800&display=swap');
nav {
  color: white;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  font-size: 12.5px;
}

/* 🔥 push ul to right */
nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin-left: auto;
  font-family: 'Unbounded', 'Arial Black', system-ui, sans-serif;
  font-style: normal;
   /* ✅ this fixes right alignment */
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: #ae86a4;
}

/* Stylish LS logo */
